* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --background-color: rgba(255, 255, 255, 0.1);
  --switch-bg: url(./assets/sun.svg);
}
.light {
  --font-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --background-color: rgba(0, 0, 0, 0.1);
  --background-color-hover: rgba(0, 0, 0, 0.2);
  --switch-bg: url(./assets/moon-stars.svg);
}

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--font-color);
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
/*profile section*/
#profile {
  text-align: center;
  padding: 24px 0 32px 0;
  margin-top: 12px;
}

#profile img {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  border: 4px solid var(--stroke-color);
  object-fit: cover;
}

#profile p {
  font-weight: 500;
  line-height: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
}
/*switch section*/
#switch {
  position: relative;
  width: 60px;
  height: 24px;
  margin: 0 auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg) no-repeat center;
  border: 1px solid var(--stroke-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
  transition: right 0.3s;
}
.light #switch button {
  left: initial;
  right: 0%;
}
#switch span {
  width: 60px;
  height: 24px;
  border-radius: 12px;
  border: 1px solid var(--stroke-color);
  background: var(--background-color);
  display: block;
  position: absolute;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--background-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  text-decoration: none;
  font-weight: 600;
  transition: background 0.2s;
}

ul li a:hover {
  background: var(--background-color-hover);
  border: 1px solid var(--stroke-color);
  cursor: pointer;
}
ul li a ion-icon {
  font-size: 20px;
  margin-right: 8px;
  color: var(--font-color);
}
footer {
  text-align: center;
  margin: 24px 0;
  font-size: 14px;
  color: var(--font-color, 0.6);
}
